:root {
  --font-body: Tahoma, Geneva, Verdana, sans-serif;
  --font-headline: Haettenschweiler, sans-serif;
  /* colors */
  --primary-color: #115220;
  --secondary-color: #0fb438;
  --tertiary-color: #e7ffee;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}
img {
  max-width: 100%;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}

/* nav setup */

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: hsl(0, 0%, 100%);
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}

.navbar {
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 3fr;
  align-items: center;
  height: 60px;
  overflow: hidden;
  background-color: var(--tertiary-color);
}

.navbar img {
  height: 40px;
  width: auto;
  justify-self: end;
  margin-left: 20px;
  margin-right: 10px;
}

.navbar a {
  justify-self: start;
  text-decoration: none;
  color: var(--font-body);
}

.navbar ul {
  list-style: none;
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  justify-self: end;
}

.navbar li {
  padding: 0.5em;
  justify-self: center;
}

.nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #3498db;
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

.feature-container {
  flex-basis: 30%;
  margin-top: 10px;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}

/* SEARCH FUNCTION */

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0; /* FOR SAFARI */
  outline: 0;
  padding: 5px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  /* MOBILE HEADINGS */

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }

  /* SECTIONS */

  .headline {
    height: 20vh;
  }

  .feature-container p {
    margin-bottom: 25px;
  }

  .feature-container {
    margin-top: 20px;
  }

  .feature-container:nth-child(2) {
    order: -1;
  }

  /* SEARCH DISABLED ON MOBILE */

  #search-icon {
    display: none;
  }

  .search-input {
    display: none;
  }
}

/*-------------------*/

.logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--primary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 1000px;
  margin: auto;
}
.leagues {
  padding: 0.5em;
  max-width: 1000px;
}
.league-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.league-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.league-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 200px;
  max-height: 250px;
  background-color: #52b66b;
}

.hover-effect {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  background-color: #4e9c62;
  border: 1px solid var(--primary-color);
  transition: transform 0.3s;
}

.hover-effect:hover {
  transform: scale(1.1); /* Aumenta el tamaño del elemento */
}

.league-card a {
  display: grid;
}

.league-card a img {
  max-width: 50%;
  justify-self: center;
}

.league-card h2,
.league-card h3,
.league-card p {
  margin: 0.5em 0;
  justify-self: center;
}

.card__brand {
  font-size: 0.7em;
}

/* League Details Page*/

.league-detail {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;
  padding: 1em;
  margin: auto;
}

.sub-header {
  grid-column: 5/9;
  grid-row: 1/2;
}

.navbar-sub-menu {
  grid-template-columns: 0.25fr 0.25fr 3fr;
  align-items: center;
  height: 60px;
  overflow: hidden;
}

.navbar-sub-menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: end;
}

.league__name {
  font-size: 0.8em;
}

#league-name {
  margin: 0;
}

.league-detail #poster {
  grid-column: 1/7;
  grid-row: 2/5;
  padding: 0.2em;
}

.league-detail #league-info {
  grid-column: 7/13;
  grid-row: 2/3;
  padding: 0.3em;
}

.info-text {
  margin: 0;
}

.scrollable {
  max-height: 600px;
  overflow-y: auto;
  /* border: 1px solid #ccc; */
  padding: 0.4em;
}

#current-season-title {
  font-size: 0.6em;
}

#current-season {
  font-size: 1.5em;
}

.league-detail .product__description {
  grid-column: 7/13;
  grid-row: 3/5;
  font-size: 0.9em;
}

.league-detail #logo {
  grid-column: 2/12;
  grid-row: 5/6;
  padding: 0.2;
  max-height: 9em;
  justify-self: center;
}

.league-detail #fanart1 {
  grid-column: 1/7;
  grid-row: 6/7;
  padding: 0.2em;
}

.league-detail #fanart2 {
  grid-column: 7/13;
  grid-row: 6/7;
  padding: 0.2em;
}

.league-detail #fanart3 {
  grid-column: 1/7;
  grid-row: 7/8;
  padding: 0.2em;
}

.league-detail #fanart4 {
  grid-column: 7/13;
  grid-row: 7/8;
  padding: 0.2em;
}

.league-detail #trophy {
  grid-column: 5/9;
  grid-row: 8/9;
  padding: 0.5em;
  max-height: 9em;
  justify-self: center;
}

.league-detail #banner {
  grid-column: 1/13;
  grid-row: 9/10;
  max-height: 7em;
  width: 100%;
}

.horizontal-alignment {
  display: flex;
  font-size: 0.8em;
}

.highlight-text {
  background-color: rgb(176, 249, 176);
}

/* Matches - Scores */

#schedule-title {
  grid-column: 5/9;
  grid-row: 2/3;
  text-align: center;
}

.panel {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px 1px;
  grid-column: 3/11;
  grid-row: 3/4;
}

.panel-head {
  padding: 6px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 3em;
  color: var(--tertiary-color);
}

.info-head {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 2px;
  min-height: 12px;
  font-size: 0.7em;
  margin: 5px;
}

.info-body {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.info-footer {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  font-size: 0.7em;
}

.team-info {
  width: calc(50% - 34px);
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.team-name {
  width: calc(100% - 30px);
  display: inline-block;
  vertical-align: middle;
}

.team-shield {
  width: 24px;
  vertical-align: middle;
}

.marker {
  width: 62px;
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0px 10px;
  border-width: 10px black;
}

.match-list-row {
  border: solid #070813 0.5px;
}

/* teams page */
.league-shield {
  width: 50px;
  vertical-align: middle;
  padding: 0.2em;
}

.team-panel-head {
  padding: 6px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 3em;
}

.item-list {
  list-style: none;
}

ul.item-list {
  padding: 0;
}

ul.item-list li {
  border: 1px solid var(--light-grey);
  padding: 0.5em;
}

.item-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.1fr 1fr;
  gap: 2px;
  text-decoration: none;
}

.team-item-shield {
  grid-column: 1/3;
  grid-row: 1/3;
  align-self: center;
  padding: 0.2em;
}

.team-item-badge {
  grid-column: 3/13;
  grid-row: 2/3;
}

.team-item-name {
  grid-column: 3/13;
  grid-row: 1/2;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
